<!doctype html>
<title>Todo:</title>

<a href="{{ url_for('category.categories') }}" class="register-link">Categorie</a>

<form method="POST" action="/todo">
    <input type="text" name="new_todo" placeholder="Add another todo here" class="form-input" required>
    
    Category<SELECT name="category_todo">
    {% for category in categories %}
        <OPTION value={{category.id}}>{{category.name}}</option>
    {% endfor %}
    </SELECT>
    
    Parti<SELECT name="chosen_party">
    {% for party in parties %}
        <OPTION value={{party}}>{{party}} </option>
    {% endfor %}
    </SELECT>

    <input type="submit" value="Add" class="btn">
</form>

<table>
    <tr>
        <th>TODO</th>
        <th>Category</th>
    </tr>
    {% for todo in todos %}
        <tr>
        <td>{{ todo.text }}</td> <td>{{ todo.category.name }}</td>
        </tr>
    {% endfor %}
    
</table>

<a>{{ text1 }} </a>

<ul>
    {% for party in parties %}
        <li>{{ party }}</li>
    {% endfor %}
</ul>
<a>Valgt parti: {{ valgt_parti }} </a>
<table border="1">
    <tr>
        <th>Parti</th>
        <th>Stemme</th>
        <th>Lovforslag</th>
    </tr>
    {% for i in bills %}
        <tr>
            <td>{{ i.parti }}</td>
            <td>{{ i.stemme }}</td>
            <td>{{i.lovforslag}}</td> 
        </tr>
    {% endfor %}
</table>