<!doctype html>
<title>Bills:</title>

<body>
<h1>Afstemninger</h1>


<form method="POST" action="/todo">
    <input type="text" name="new_todo" placeholder="Add another todo here" class="form-input" required>
    Category<SELECT name="category_todo">
    {% for category in categories %}
        <OPTION value={{category.id}}>{{category.name}}</option>
    {% endfor %}
    </SELECT>
    <input type="submit" value="Add" class="btn">
</form>

<form method="POST" action="/todo">
    <input type="text" name="new_todo" placeholder="Add another todo here" class="form-input" required>
    Category<SELECT name="category_todo">
    {% for category in categories %}
        <OPTION value={{category.id}}>{{category.name}}</option>
    {% endfor %}
    </SELECT>
    <input type="submit" value="Add" class="btn">
</form>



<table border="1">
    <tr>
        <th>Parti</th>
        <th>Stemme</th>
        <th>Lovforslag</th>
    </tr>
    {% for i in bills %}
        <tr>
            <td>{{ i.parti }}</td>
            <td>{{ i.stemme }}</td>
            <td>{{i.lovforslag}}</td> 
        </tr>
    {% endfor %}
</table>
</body>